<div class="container my-5">

    <h1 class="fw-bold mb-4">
        Technology News
    </h1>

    <div class="row">

        <!-- Card -->

        <div class="col-lg-4 mb-4">

            <div class="card shadow-sm border-0">

                <img src="https://placehold.co/600x400" class="card-img-top">

                <div class="card-body">

                    <span class="badge bg-danger mb-2">
                        Technology
                    </span>

                    <h5>Article Title</h5>

                    <p>
                        Short Description...
                    </p>

                    <a href="#" class="btn btn-danger">
                        Read More
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>